name: Build Release

on:
  push:
    branches: ["main"]
    tags:
      - '*'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write 
  issues: read
  packages: none

jobs:
  # Single deploy job since we're just deploying
  build:
    if: github.repository_owner == 'myridia'
    runs-on: ubuntu-latest   
    steps:
      - name: install dependencies
        run: |
         sudo apt-get install gcc-arm-linux-gnueabihf gcc-mingw-w64 git wget gtk4 make -y
         
      - name: Checkout repository
        uses: actions/checkout@v4



      - name: build-release
        run: |
          make linux

      - name: upload binary 
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: 'helloc_gtk_linux'
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true

